.tool-bar button{
    border: none;
    background-color: #474747;
    color: #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}

.tool-bar button:hover{
    border: none;
    background-color: #5B5B5B;
    color: #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tool-bar button:focus{
    outline: none;
}

body{
    margin: 0;
    
    background-color: #333333;
}

.tool-bar{
    padding-left: 20px;
    background-color: #474747;
    display: flex;
    flex-direction: row;
}

.emitente, .produto, .nota-fiscal, .transportador, .destinario{
    position: relative;
}

.emitente ul, .produto ul, .nota-fiscal ul, .transportador ul, .destinario ul{
    padding: 0;
    width: 100px;
    position: absolute;
    margin: 0;
    background-color: #474747;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
}

.emitente a, .produto a, .nota-fiscal a, .transportador a, .destinario a{
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    
}

.emitente li, .produto li, .nota-fiscal li, .transportador li, .destinario li{
    display: flex;
    align-items: center;
    height: 27px;
    padding-left: 20px;
    padding-right: 20px;
}

.emitente li:hover, .produto li:hover, .nota-fiscal li:hover, .transportador li:hover, .destinario li:hover{
    height: 27px;
    background-color: #5B5B5B;
}


*{
    font-family: 'Roboto', sans-serif;
}

.produto button:focus + ul, .emitente button:focus + ul, .nota-fiscal button:focus + ul, .transportador button:focus + ul, .destinario button:focus + ul{
    visibility: visible;

}

.nota-fiscal ul:hover, .emitente ul:hover, .destinario ul:hover, .transportador ul:hover, .produto ul:hover{
    visibility: visible;
}

.info-bar{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: #3A3A3A;
    align-content: center;
    
}

.info-bar a.underline{
    text-decoration: none;
    color: #ccc;
    border-bottom: 4px solid #8A8A8A;
    margin-right: 40px;
    height: 90%;
    font-size: 14px;
    font-weight: 400;
}

.info-bar a{
    text-decoration: none;
    color: #ccc;
    margin-right: 40px;
    height: 90%;
    font-size: 14px;
}

p.title{
    padding-left: 20px;
    color: #ccc;
    font-size: 22px;
}
p.title-desc{
    padding-left: 20px;
    color: #ccc;
    font-size: 14px;
}

.form{
    margin-top: 2em;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes label{
    from{transform: translateX(-20px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.form label{
    animation: label 0.5s ease;
}

.form input{
    background-color: #333;
    border: none;
    border: 1px solid #636363;
    height: 35px;
    border-radius: 5px;
    width: 300px;
    color: #ccc;
    padding-left: 5px;
    
}

.form input:focus{
    outline: none;
    border: 1px solid #A7A7A7;
    
    transition: all 0.5s ease;
}

.form-group{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 8px;
    color: #ccc;
    font-size: 14px;
}

div.buttons{
    margin-top: 2em;
    padding-left: 20px;
}


button.submit:hover{
    height: 50px;
    width: 180px;
    border: none;
    background-color: #C4C4C4;
    color: #333;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}

button.submit{
    height: 50px;
    width: 180px;
    border: none;
    background-color: #333;
    color: #C4C4C4;
    border-radius: 5px;
    border:1px solid #C4C4C4;
}

button.submit:focus{
    outline: none;
    
}

.ts{
    font-size: 50px;
    background-color: wheat;
}


@keyframes container{
    from{transform: translateX(-50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.container{
    animation: container 0.5s forwards;
}

#error{
    color: #999;
    height: 20px;
}

.none{
    display: none;
}

@keyframes container{
    from{transform: translateX(-50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}
.secund-container{
    animation: container 0.5s forwards;
}



table, tr, td, th{
    border-collapse: collapse;
    border: 1px solid #474747;
}

table th{
    padding: 20px;
    color: #ddd;
    font-size: 14px;
    background-color: #3A3A3A;
    
}

table td a{
    padding: 20px;
    color: #bbb; 
    font-size: 14px;
    text-decoration: none;
}

table td{
    padding: 20px;
    color: #bbb; 
    font-size: 14px;
}

table tr:hover{
    cursor: pointer;
    background-color: #3A3A3A;
}

.table{
    padding-left: 20px;
    padding-top: 20px;
}